<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ChatApp</title>
    <link rel="stylesheet" href="../static/login_signup.css">
    
    <script>
        // Check if there is an error message passed in the URL
        const urlParams = new URLSearchParams(window.location.search);
        const error = urlParams.get('error');
        if (error) {
            showError(error);
        }
    </script>

</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>Login</h1>
            <form action="/login" method="post">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="/signup">Sign up here</a></p>
        </div>
    </div>

    <div id="error-message" style="color: red;"></div>
    

</body>
</html>